apscheduler==3.11.0
beautifulsoup4==4.13.4
fastapi==0.115.12
feedparser==6.0.11
holidays==0.74
langchain==0.3.25
langchain_chroma==0.2.4
langchain_community==0.3.25
langchain_core==0.3.65
langchain_ollama==0.3.3
langchain_openai==0.3.23
langchain_upstage==0.6.0
langgraph==0.4.8
pandas==2.3.0
pydantic==2.11.6
python-dotenv==1.1.0
Requests==2.32.4
termcolor==3.1.0
